{
    "train_path": "/u/zhigwang/zhigwang1/sentence_match/snli/train.tsv",
    "dev_path": "/u/zhigwang/zhigwang1/sentence_match/snli/dev.tsv",
    "word_vec_path": "/u/zhigwang/zhigwang1/sentence_match/snli/wordvec.txt",
    "model_dir": "/u/zhigwang/zhigwang1/sentence_match/snli/logs",
    "suffix": "quora",
    "fix_word_vec": true,
    "isLower": true,
    "max_sent_length": 100,
    "max_char_per_word": 10,

    "with_char": true,
    "char_emb_dim": 20,
    "char_lstm_dim": 40,

    "batch_size": 100,
    "max_epochs": 10,
    "dropout_rate": 0.2,
    "learning_rate": 0.001,
    "optimize_type": "adam",
    "lambda_l2": 0.0,
    "grad_clipper": 10.0,

    "context_layer_num": 1,
    "context_lstm_dim": 100,
    "aggregation_layer_num": 1,
    "aggregation_lstm_dim": 100,

    "with_full_match": true,
    "with_maxpool_match": false,
    "with_max_attentive_match": false,
    "with_attentive_match": true,

    "with_cosine": true,
    "with_mp_cosine": true,
    "cosine_MP_dim": 5,

    "att_dim": 50,
    "att_type": "symmetric",

    "highway_layer_num": 1,
    "with_highway": true,
    "with_match_highway": true,
    "with_aggregation_highway": true,

    "use_cudnn": true,

    "with_moving_average": false
}
